.logo {
  display: flex;
  align-items: center;
  gap: 9px;
}

.small {
  gap: 6px;
}

.medium {
  gap: 8px;
}

.large {
  gap: 9px;
}

.text {
  font-weight: 600;
  line-height: 1.5;
}

.small .text {
  font-size: 14px;
}

.medium .text {
  font-size: 18px;
}

.large .text {
  font-size: 32px;
  font-weight: 700;
}

.textGradient {
  color: var(--color-primary);
}

.textWhite {
  color: var(--color-bg-white);
}

.logoImage {
  object-fit: contain;
}
